{% extends "layout/layout.html" %}

{% block page_content %}
{% load static %}
<section id="center">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 center_main">
			    <div class="col-sm-2">
			        <div class="center_1">
			            <ul>
                            <li><a class="icon_1" href="#"><i class="fa fa-envelope"></i>Email</a></li>
                            <li><a class="icon_2" href="#"><i class="fa fa-newspaper-o"></i>World</a></li>
                            <li><a class="icon_3" href="#"><i class="fa fa-fighter-jet"></i>Views</a></li>
                            <li><a class="icon_4" href="#"><i class="fa fa-gamepad"></i>Game</a></li>
                            <li><a class="icon_1" href="#"><i class="fa fa-cube"></i>Popular</a></li>
                            <li><a class="icon_2" href="#"><i class="fa fa-power-off"></i>Political</a></li>
                            <li><a class="icon_3" href="#"><i class="fa fa-certificate"></i>Hollywood</a></li>
                            <li><a class="icon_4" href="#"><i class="fa fa-tv"></i>Pc</a></li>
                            <li><a class="icon_1" href="#"><i class="fa fa-play"></i>Videos</a></li>
                            <li><a class="icon_2" href="#"><i class="fa fa-mobile"></i>Mobile</a></li>
                            <li><a class="icon_3" href="#"><i class="fa fa-dot-circle-o"></i>Extra</a></li>
				        </ul>
				        <div class="home_1"><a href="#">Subscribe</a></div>
			        </div>
                </div>
                
			    <div class="col-sm-7">
			        <div class="col-sm-12 center_2">
			            <div id="main_area">
                            <!-- Slider -->
                            <div class="row">
                                <div class="col-xs-12" id="slider">
                                    <!-- Top part of the slider -->
                                    <div class="row">
                                        <div class="col-sm-8" id="carousel-bounding-box">
                                            <div class="carousel slide" id="myCarousel">
                                                <!-- Carousel items -->
                                                <div class="carousel-inner">
                                                    <div class="active item" data-slide-number="0">
                                                        <img src="{% static 'img/1.jpg' %}">
                                                    </div>

                                                    <div class="item" data-slide-number="1">
                                                        <img src="{% static 'img/79.jpg' %}">
                                                    </div>

                                                    <div class="item" data-slide-number="2">
                                                        <img src="{% static 'img/80.jpg' %}">
                                                    </div>

                                                    <div class="item" data-slide-number="3">
                                                        <img src="{% static 'img/81.jpg' %}">
                                                    </div>

                                                    <div class="item" data-slide-number="4">
                                                        <img src="{% static 'img/82.jpg' %}">
                                                    </div>

                                                    <div class="item" data-slide-number="5">
                                                        <img src="{% static 'img/83.jpg' %}">
                                                    </div>
                                                </div><!-- Carousel nav -->
                                                <a class="left carousel-control" href="http://bootsnipp-env.elasticbeanstalk.com/iframe/v8lxB#myCarousel" role="button" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>                                       
                                                </a>
                                                <a class="right carousel-control" href="http://bootsnipp-env.elasticbeanstalk.com/iframe/v8lxB#myCarousel" role="button" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>                                       
                                                </a>                                
                                            </div>
                                        </div>

                                        <div class="col-sm-4" id="carousel-text">
                                            <h2>Slider One</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                            <p class="sub-text">October 25 2014 - <a href="#">Read more</a></p>
                                        </div>

                                        <div id="slide-content" style="display: none;">
                                            <div id="slide-content-0">
                                                <h2>Slider One</h2>
                                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris.</p>
                                                <p class="sub-text">October 26 2014 - <a href="#">Read more</a></p>
                                            </div>

                                            <div id="slide-content-1">
                                                <h2>Slider Two</h2>
                                                <p>  Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
                                                <p class="sub-text">October 27 2014 - <a href="#">Read more</a></p>
                                            </div>

                                            <div id="slide-content-2">
                                                <h2>Slider Three</h2>
                                                <p> Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris ligula in libero.Sed dignissim lacinia nunc.</p>
                                                <p class="sub-text">October 28 2014 - <a href="#">Read more</a></p>
                                            </div>

                                            <div id="slide-content-3">
                                                <h2>Slider Four</h2>
                                                <p> Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
                                                <p class="sub-text">October 29 2014 - <a href="#">Read more</a></p>
                                            </div>

                                            <div id="slide-content-4">
                                                <h2>Slider Five</h2>
                                                <p>  Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
                                                <p class="sub-text">October 30 2014 - <a href="#">Read more</a></p>
                                            </div>

                                            <div id="slide-content-5">
                                                <h2>Slider Six</h2>
                                                <p> Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta.Curabitursodales ligula in libero.Sed dignissim lacinia nunc.</p>
                                                <p class="sub-text">October 31 2014 - <a href="#">Read more</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/Slider-->

                            <div class="row hidden-xs" id="slider-thumbs">
                                <!-- Bottom switcher of slider -->
                                <ul class="hide-bullets">
                                    <li class="col-sm-2">
                                        <a class="thumbnail" id="carousel-selector-0"><img src="{% static 'img/4.jpg' %}"></a>
                                    </li>

                                    <li class="col-sm-2">
                                        <a class="thumbnail" id="carousel-selector-1"><img src="{% static 'img/84.jp' %}g"></a>
                                    </li>

                                    <li class="col-sm-2">
                                        <a class="thumbnail" id="carousel-selector-2"><img src="{% static 'img/2.jpg' %}"></a>
                                    </li>

                                    <li class="col-sm-2">
                                        <a class="thumbnail" id="carousel-selector-3"><img src="{% static 'img/85.jp' %}g"></a>
                                    </li>

                                    <li class="col-sm-2">
                                        <a class="thumbnail" id="carousel-selector-4"><img src="{% static 'img/3.jpg' %}"></a>
                                    </li>

                                    <li class="col-sm-2">
                                        <a class="thumbnail" id="carousel-selector-5"><img src="{% static 'img/5.jpg' %}"></a>
                                    </li>
                                </ul>                 
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/6.jpg' %}" width="100%"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a href="#">America</a></h5>
                                <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit integer nec odio.</a></h4>
                                <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Ligula in libero</span></a></p>
                            </div>
                        </div>
                    </div>
               
                    <div class="col-sm-12 center_2_inner_main_1">
			            <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/7.jpg' %}" width="100%"></a>
                            </div>
				        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a class="color_text" href="#">Brought</a></h5>
                                <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit integer nec odio.</a></h4>
                                <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Ligula in libero</span></a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/8.jpg' %}" width="100%"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a class="color_text_1" href="#">Fashion</a></h5>
                                <h4>
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit integer nec odio.
                                </a></h4>
                                <p><a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Ligula in libero</span>
                                </a></p>
                            </div>
                            <div class="col-sm-12 center_block">
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                <div class="center_block_1">
                                    <a href="#"><img src="{% static 'img/9.jpg' %}"  width="100%"></a>
                                </div>
                                </div>
                                    <div class="col-sm-8">
                                    <div class="center_block_2">
                                        <p><a href="#">Aptent taciti sociosqu ad litora torquent per conubia </a></p>
                                        <span><a href="#">Latest</a></span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                <div class="center_block_1">
                                    <a href="#"><img src="{% static 'img/10.jpg' %}" width="100%"></a>
                                </div>
                                </div>
                                    <div class="col-sm-8">
                                    <div class="center_block_2">
                                        <p><a href="#">Curabitursodales ligula in libero lacinia nunc conubia</a></p>
                                        <span><a href="#">Popular</a></span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/11.jpg' %}" width="100%"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a  href="#">Brazil</a></h5>
                                <h4>
                                <a class="color_text" href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit integer nec odio.
                                </a></h4>
                                <p><a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Sed Dignissim Lacinia</span>
                                </a></p>
                            </div>
                            <div class="col-sm-12 center_block">
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                        <div class="center_block_1">
                                            <a href="#"><img src="{% static 'img/12.jpg' %}" width="100%"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="center_block_2">
                                            <p><a href="#">Curabitursodales ligula in libero lacinia nunc conubia </a></p>
                                            <span><a href="#">Popularity</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                        <div class="center_block_1">
                                            <a href="#"><img src="{% static 'img/13.jpg' %}" width="100%"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="center_block_2">
                                            <p><a href="#">Aptent taciti sociosqu ad litora torquent per conubia </a></p>
                                            <span><a href="#">Celebrity</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

			        <div class="col-sm-12 center_2_inner_main_1">
			            <div class="col-sm-4">
				            <div class="center_2_inner_1">
				                <a href="#"><img src="{% static 'img/14.jpg' %}" width="100%"></a>
				            </div>
				        </div>
				        <div class="col-sm-8">
				            <div class="center_2_inner_2">
				                <h5><a class="color_text_1" href="#">Community</a></h5>
					            <h4>
                                    <a class="color_text" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit integer nec odio.</a>
                                </h4>
					            <p><a href="#">
					                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Sed Dignissim Lacinia</span>
					            </a></p>
				            </div>
				            <div class="col-sm-12 center_block">
				                <div class="col-sm-6">
				                    <div class="col-sm-4">
					                    <div class="center_block_1">
					                        <a href="#"><img src="{% static 'img/15.jpg' %}" width="100%"></a>
					                    </div>
					                </div>
					                <div class="col-sm-8">
						                <div class="center_block_2">
						                    <p><a href="#">Aptent taciti sociosqu ad litora torquent per conubia </a></p>
							                <span><a href="#">Trending</a></span>
						                </div>
						            </div>
				                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                        <div class="center_block_1">
                                            <a href="#"><img src="{% static 'img/16.jpg' %}" width="100%"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="center_block_2">
                                            <p><a href="#">Curabitursodales ligula in libero lacinia nunc conubia </a></p>
                                            <span><a href="#">News</a></span>
                                        </div>
                                    </div>
                                </div>
				            </div>
				        </div>
			        </div>
                    <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/17.jpg' %}" width="100%"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a class="color_text_2"  href="#">Fashion</a></h5>
                                <h4>
                                <a class="color_text" href="#">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit integer nec odio.
                                </a></h4>
                                <p><a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Ligula in Libero</span>
                                </a></p>
                            </div>
                            <div class="col-sm-12 center_block">
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                <div class="center_block_1">
                                    <a href="#"><img src="{% static 'img/18.jpg' %}" width="100%"></a>
                                </div>
                                </div>
                                    <div class="col-sm-8">
                                    <div class="center_block_2">
                                        <p><a href="#">Curabitursodales ligula in libero lacinia nunc conubia </a></p>
                                        <span><a href="#">World</a></span>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                <div class="center_block_1">
                                    <a href="#"><img src="{% static 'img/19.jpg' %}" width="100%"></a>
                                </div>
                                </div>
                                    <div class="col-sm-8">
                                    <div class="center_block_2">
                                        <p><a href="#">Aptent taciti sociosqu ad litora torquent per conubia</a></p>
                                        <span><a href="#">Newest</a></span>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/20.jpg' %}" width="100%"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a class="color_text_1" href="#">Webnews</a></h5>
                                <h4>
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit integer nec odio.
                                </a></h4>
                                <p><a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Sed Dignissim Lacinia</span>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/21.jpg' %}" width="100%"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a class="color_text_2" href="#">World</a></h5>
                                <h4>
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit integer nec odio.
                                </a></h4>
                                <p><a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Sed Dignissim Lacinia</span>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/22.jpg' %}" width="100%"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a class="color_text_1" href="#">Views</a></h5>
                                <h4>
                                <a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit integer nec odio.
                                </a></h4>
                                <p><a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Ligula in Libero</span>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 center_para_main">
                        <div class="center_para">
                            <h6><a href="#">Our World</a></h6>
                            <p class="p_1"><a href="#"> Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum<br> millions of people</a></p>
                            <p class="p_2">
                                <a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. </a>
                            </p>
                            <span class="color_text_1">Ligula in Libero</span>
                        </div>
                    </div>
                    <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/23.jpg' %}" width="100%"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a class="color_text_2" href="#">Assets</a></h5>
                                <h4>
                                <a href="#">
                                    Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum millions of people
                                </a></h4>
                                <p><a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Sed Dignissim Lacinia</span>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/24.jpg' %}" width="100%"></a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="center_2_inner_2">
                                <h5><a class="color_text_1" href="#">Produced</a></h5>
                                <h4>
                                <a href="#">
                                    Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum millions of people
                                </a></h4>
                                <p><a href="#">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Sed Dignissim Lacinia</span>
                                </a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 center_para_main">
                        <div class="center_para">
                            <h6><a href="#">Liabilities</a></h6>
                            <p class="p_1"><a href="#">Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum <br> millions of people</a></p>
                            <p class="p_2"> 
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. </a>
                            </p>
                            <span class="color_text_2">Ligula in Libero</span>
                        </div>
                    </div>
			        <div class="col-sm-12 center_2_inner_main_1">
			            <div class="col-sm-4">
				            <div class="center_2_inner_1">
				                <a href="#"><img src="{% static 'img/30.jpg' %}" width="100%"></a>
				            </div>
				        </div>
				        <div class="col-sm-8">
				            <div class="center_2_inner_2">
				                <h5><a href="#">England</a></h5>
					            <h4>
					                <a class="color_text" href="#">
                                        Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum millions of people
                                    </a>
                                </h4>
					            <p><a href="#">
					                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Sed Dignissim Lacinia</span>
					            </a></p>
				            </div>
                            <div class="col-sm-12 center_block">
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                        <div class="center_block_1">
                                            <a href="#"><img src="{% static 'img/32.jpg' %}" width="100%"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="center_block_2">
                                            <p><a href="#">Curabitursodales ligula in libero lacinia nunc conubia </a></p>
                                            <span><a href="#">Popular</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                        <div class="center_block_1">
                                            <a href="#"><img src="{% static 'img/33.jpg' %}" width="100%"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="center_block_2">
                                            <p><a href="#">Aptent taciti sociosqu ad litora torquent per conubia </a></p>
                                            <span><a href="#">Trending</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
				        </div>
			        </div>
			        <div class="col-sm-12 center_2_inner_main_1">
                        <div class="col-sm-4">
                            <div class="center_2_inner_1">
                                <a href="#"><img src="{% static 'img/31.jpg' %}" width="100%"></a>
                            </div>
                        </div>
				        <div class="col-sm-8">
				            <div class="center_2_inner_2">
				                <h5><a href="#">Australia</a></h5>
					            <h4>
					                <a class="color_text" href="#">
                                        Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum millions of people
                                    </a>
                                </h4>
					            <p><a href="#">
					                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.<br><span>Sed Dignissim Lacinia</span>
					            </a></p>
				            </div>
				            <div class="col-sm-12 center_block">
				                <div class="col-sm-6">
				                    <div class="col-sm-4">
					                    <div class="center_block_1">
					                        <a href="#"><img src="{% static 'img/34.jpg' %}" width="100%"></a>
					                    </div>
					                </div>
                                    <div class="col-sm-8">
                                    <div class="center_block_2">
                                        <p><a href="#">Aptent taciti sociosqu ad litora torquent per conubia</a></p>
                                        <span><a href="#">Author</a></span>
                                    </div>
                                    </div>
				                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-4">
                                        <div class="center_block_1">
                                            <a href="#"><img src="{% static 'img/35.jpg' %}" width="100%"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="center_block_2">
                                            <p><a href="#">Curabitursodales ligula in libero lacinia nunc conubia </a></p>
                                            <span><a href="#">Writer</a></span>
                                        </div>
                                    </div>
                                </div>
				            </div>
				        </div>
			        </div>
                    <div class="col-sm-12 center_para_main">
                        <div class="center_para">
                            <h6><a href="#">Company</a></h6>
                            <p class="p_1"><a href="#">Nulla quis sem at nibh elementum imperdiet Duis sagittis ipsum <br> millions of people</a></p>
                            <p class="p_2">
                                <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. </a>
                            </p>
                            <span class="color_text_2">Sed Dignissim Lacinia</span>
                        </div>
                    </div>
			    </div>
			    <div class="col-sm-3">
			        <div class="center_3">
				        <h5><a href="#">Popular Now</a></h5>
				        <div class="col-sm-12 center_3_inner">
                            <div class="col-sm-6">
                                <div class="center_3_inner_1">
                                    <p><a href="#"><span>1.</span>  Lorem Ipsum </a></p>
                                    <p><a href="#"><span>2.</span>  Dolor Sit </a></p>
                                    <p><a href="#"><span>3.</span>  Nec Odio </a></p>
                                    <p><a href="#"><span>4.</span>  Praesent Libero </a></p>
                                    <p><a href="#"><span>5.</span>   Nulla Quis </a></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="center_3_inner_1 space">
                                    <p><a href="#"><span>6.</span>  Nibh Elementum  </a></p>
                                    <p><a href="#"><span>7.</span>  Duis Sagittis </a></p>
                                    <p><a href="#"><span>8.</span> Praesent Mauris </a></p>
                                    <p><a href="#"><span>9.</span>  Solvation </a></p>
                                    <p><a href="#"><span>10.</span> Sed Augue  </a></p>
                                </div>
                            </div>
				        </div>
                        <div class="col-sm-12 center_3_image">
                            <div class="media">
                                <a href="#"><img class="media-object dp " src="{% static 'img/25.jpg' %}" width="100%"></a>
                            </div>
                        </div>
				        <div class="col-sm-12 weather">
				            <h4><a href="#">America<i class="fa fa-map-marker"></i></a></h4>
                            <div class="col-sm-3">
                                <div class="weather_1 text-center">
                                    <p><a href="#">
                                        <div class="day"><a href="#">Today</a></div>
                                        <div class="cloud_1"><i class="fa fa-cloud"></i></div>
                                        <h3><a href="#">35°</a></h3>
                                    </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="weather_1 text-center">
                                    <p><a href="#">
                                        <div class="day"><a href="#">Thu</a></div>
                                        <div class="cloud_1 color_1"><i class="fa fa-sun-o"></i></div>
                                        <h3><a href="#">32°</a></h3>
                                    </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="weather_1 text-center">
                                    <p><a href="#">
                                        <div class="day"><a href="#">Fri</a></div>
                                        <div class="cloud_1"><i class="fa fa-moon-o"></i></div>
                                        <h3><a href="#">36°</a></h3>
                                    </a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="weather_1 text-center">
                                    <p><a href="#">
                                        <div class="day"><a href="#">Sat</a></div>
                                        <div class="cloud_1 color_1"><i class="fa fa-sun-o"></i></div>
                                        <h3><a href="#">33°</a></h3>
                                    </a>
                                    </p>
                                </div>
                            </div>
				        </div>
                        <div class="col-sm-12 center_3_link">
                            <a href="#"><img class="img-circle" src="{% static 'img/26.jpg' %}" width="100%"></a>
                            <p><a href="#">Good Evening World</a></p>
                            <h4><a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</a></h4>
                        </div>
                        <div class="col-sm-12 center_3_link">
                            <a href="#"><img class="img-circle" src="{% static 'img/27.jpg' %}" width="100%"></a>
                            <p><a href="#">World Hub</a></p>
                            <h4><a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.</a></h4>
                        </div>
                        <div class="col-sm-12 center_3_image">
                            <div class="media">
                                <a href="#">
                                    <img class="media-object dp " src="{% static 'img/28.jpg' %}" width="100%">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-12 center_3_image">
                            <div class="media">
                                <a href="#">
                                    <img class="media-object dp " src="{% static 'img/29.jpg' %}" width="100%">
                                </a>
                            </div>
                        </div>
				    </div>
			    </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block more_js %}
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
{% endblock %}

{% block javascript %}	
  
    <!-- //for slider -->
    <script type="text/javascript">
	    jQuery(document).ready(function($) {
 
            $('#myCarousel').carousel({
                interval: 5000
            });
 
            $('#carousel-text').html($('#slide-content-0').html());
 
            //Handles the carousel thumbnails
            $('[id^=carousel-selector-]').click( function(){
                var id = this.id.substr(this.id.lastIndexOf("-") + 1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
            });
 
 
            // When the carousel slides, auto update the text
            $('#myCarousel').on('slid.bs.carousel', function (e) {
                    var id = $('.item.active').data('slide-number');
                    $('#carousel-text').html($('#slide-content-'+id).html());
            });
        });
	</script>
    <!-- //for slider_end -->
{% endblock %}