{% load static %}
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="footer_1">
                        <h3>ABOUT US</h3>
                        <hr> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer_2">
                    <h3>CONTACT INFO</h3>
                    <hr>
                    <p><i class="glyphicon glyphicon-map-marker"></i>4543k Integer, 7th block,<br><span class="city">Dolor Sit City.</span></p>
                    <p><i class="glyphicon glyphicon-envelope"></i>info@gmail.com</p>
                    <p><i class="glyphicon glyphicon-earphone"></i>+1234 567 890</p>
                    </div> 
                </div>
                <div class="col-sm-3">
                    <div class="footer_3">
                        <h3>FLICKR POSTS</h3>
                        <hr>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                            <div class="footer_3_image"><a href="#"><img src="{% static 'img/36.jpg' %}"></a></div>
                            </div>
                            <div class="col-sm-4">
                            <div class="footer_3_image"><a href="#"><img src="{% static 'img/37.jpg' %}"></a></div>
                            </div>
                            <div class="col-sm-4">
                            <div class="footer_3_image"><a href="#"><img src="{% static 'img/38.jpg' %}"></a></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                            <div class="footer_3_image"><a href="#"><img src="{% static 'img/39.jpg' %}"></a></div>
                            </div>
                            <div class="col-sm-4">
                            <div class="footer_3_image"><a href="#"><img src="{% static 'img/40.jpg' %}"></a></div>
                            </div>
                            <div class="col-sm-4">
                            <div class="footer_3_image"><a href="#"><img src="{% static 'img/41.jpg' %}"></a></div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                            <div class="footer_3_image"><a href="#"><img src="{% static 'img/42.jpg' %}"></a></div>
                            </div>
                            <div class="col-sm-4">
                            <div class="footer_3_image"><a href="#"><img src="{% static 'img/43.jpg' %}"></a></div>
                            </div>
                            <div class="col-sm-4">
                            <div class="footer_3_image"><a href="#"><img src="{% static 'img/44.jpg' %}"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="col-sm-3">
                    <div class="footer_4 clearfix">
                        <h3>BLOG POSTS</h3>
                        <hr>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="footer_4_image"><img src="{% static 'img/45.jpg' %}"></div>
                            </div>
                            <div class="col-sm-8">
                                <div class="footer_4_para">
                                    <h4><a href="#">Nulla quis sem at nibh <br>Deserunt</h4></a><p>Posted On 15/4/2015</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="footer_4_image"><img src="{% static 'img/46.jpg' %}"></div>
                            </div>
                            <div class="col-sm-8">
                                <div class="footer_4_para">
                                    <h4><a href="#">Nulla quis sem at nibh <br>Deserunt</h4></a><p>Posted On 15/4/2015</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="footer_4_image"><img src="{% static 'img/47.jpg' %}"></div>
                            </div>
                            <div class="col-sm-8">
                                <div class="footer_4_para">
                                    <h4><a href="#">Nulla quis sem at nibh <br>Deserunt</h4></a><p>Posted On 15/4/2015</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>