<section id="header" class="clearfix">
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="active_1">
                        <a class="li_1" href="index.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a class="li_1" href="detail.html">Detail</a>
                    </li> 
                    <li>
                        <a class="li_1" href="sports.html">Trending</a>
                    </li>
                    <li>
                        <a class="li_1" href="pages.html">Typography</a>
                    </li>
                    <li>
                        <a class="li_1" href="contact.html">Contact</a>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle li_1" data-toggle="dropdown" href="#" aria-expanded="false">More
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Views</a></li>
                            <li><a href="pages.html">Popular</a></li>
                            <li><a href="contact.html">Cinema</a></li> 
                            <li><a href="sports.html">Lyrics</a></li>
                            <li><a href="detail.html">Theatre</a></li>
                            <li><a href="index.html">Fashion</a></li> 
                            <li><a href="pages.html">World</a></li>
                            <li><a href="detail.html">Trending</a></li>
                            <li><a href="contact.html">Market</a></li> 
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->

        <!-- /.container-fluid -->
        <section id="menu_box">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 menu_box">
                        <div class="col-sm-2">
                            <div class="menu_box_1">
                                <h1><a href="#">Headlines!</a></h1>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="menu_box_2">
                                <input class="form_1" type="text"><a href="#">Search More</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="menu_box_3 text-right">
                                <span class="tag_1"><a href="#">Log in</a></span>
                                <select class="form-control_1" name="country" id="country">
                                    <option name="Profile Type" value="None">Feature</option>
                                    <option value="AR">Lorem ipsum</option>
                                    <option value="AU">Praesent libero</option>
                                    <option value="AT">Sed cursus</option>
                                    <option value="BY">Dapibus diam</option>
                                    <option value="BE">Sed nisi</option>
                                    <option value="BA">Nulla quis sem </option>
                                    <option value="BR"> Nibh  imperdiet</option>
                                    <option value="BG">Duis sagittis</option>
                                    <option value="AR">Lorem ipsum</option>
                                    <option value="AU">Praesent libero</option>
                                    <option value="AT">Sed cursus</option>
                                    <option value="BY">Dapibus diam</option>
                                    <option value="BE">Sed nisi</option>
                                    <option value="BA">Nulla quis sem </option>
                                    <option value="BR"> Nibh  imperdiet</option>
                                    <option value="BG">Duis sagittis</option>
                                    <option value="BR"> Nibh  imperdiet</option>
                                    <option value="BG">Duis sagittis</option>
                                    <option value="HK"> Nec tellus sed augue abc</option>
                                    <option value="BY">Dapibus diam</option>
                                    <option value="BE">Sed nisi</option>
                                    <option value="BA">Nulla quis sem </option>
                                    <option value="BR"> Nibh  imperdiet</option>
                                    <option value="BG">Duis sagittis</option>
                                    <option value="BR"> Nibh  imperdiet</option>
                                    <option value="BG">Duis sagittis</option>
                                    <option value="HK"> Nec tellus sed augue abc</option>
                                </select>
                                <span class="tag_2"><a href="#"><i class="fa fa-envelope"></i>Email</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </nav>
 </section>